# Environments and Secrets
.env
*.env
venv/
.venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# OS Generated
.DS_Store
Thumbs.db

# Secrets / Keys
service_account_key.json

# SQLite temporary cache files (Do NOT ignore the main .db file!)
*-journal
*.db-journal

# Logs
*.log