# Environments and Secrets
.env
*.env

# SQLite Database
mlb_historical_data.db
*.sqlite3
*.db

# Machine Learning Models
*.pkl
mlb_model.pkl
scaler.pkl

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# OS Generated
.DS_Store
Thumbs.db

service_account_key.json